<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Console
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="contenedor">
  <div id="conmqtt">Estado mqtt:{{this.state}}</div>
  <div id="data">
    <ion-list>
      <ion-item>
        <ion-label>
          >_ Hola
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          >_ Hola
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          >_ Hola
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          >_ Hola
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          >_ Hola
        </ion-label>
      </ion-item>
      
    </ion-list>
  </div>
  <div id="controls">

    <ion-button class="control" color="success" (click)="start()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>

    <ion-button class="control" color="danger">
      <ion-icon name="stop-outline"></ion-icon>
    </ion-button>

  </div>
</div>
