<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light" class="coordenates">
    <ion-header>
      <ion-card-title>Coordenates</ion-card-title>
    </ion-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Altitude:{{altitude}}
        </ion-item>
        <ion-item>
          Latitude:{{latitude}}
        </ion-item>
        <ion-item>
          Longitude:{{longitude}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
