#container {
    text-align: center;
  
    position: absolute;
    right: 35%;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
  }

  #botones_ajustes {
    margin: 5%;
    display: flex;
  }

  #lista {
    margin: 5%;
  }

  .devices{
    display: flex;
    flex-direction: row;
  }